@font-face {
    font-family: 'Nightingale';
    src: url('Nightingale-Light.woff2') format('woff2'),
        url('Nightingale-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nightingale';
    src: url('Nightingale-Light.woff2') format('woff2'),
        url('Nightingale-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sailec';
    src: url('Sailec-Regular.woff2') format('woff2'),
        url('Sailec-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sailec';
    src: url('Sailec-Regular.woff2') format('woff2'),
        url('Sailec-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

